html,
body {
  margin: 0;
}

.App {
  color: aliceblue;
  background-color: #282c34;
  height: 100vh;
}

h1 {
  margin: 0;
  text-align: center;
}

main {}

.background-by-type {
  background-color: aquamarine;
  color: darkslategrey;
  margin-left: 40px;
  margin-top: 20px;
  height: 500px;
  width: 500px;
}