html,
body {
  margin: 0;
}

.App {
  color: aliceblue;
  /* background-color: #282c34; */
  height: 100vh;
}

h1 {
  margin: 0;
  text-align: center;
}

main {
  background-color: blueviolet;
  margin: 25px 100px 0px;
  display: flex;
  justify-content: space-between;
}

.rigth-col {
  background-color: brown;
  width: 360px;
}

.background-by-type {
  background-color: aquamarine;
  /* color: darkslategrey; */
  height: 500px;
  width: 500px;
}

.pokemon-stats {
  background-color: aqua;
  color: rgb(64, 0, 255);
}

.pokemon-abilities {
  background-color: rgb(255, 255, 0);
  color: rgb(255, 51, 0);
}

.pokemon-actions {
  background-color: rgb(0, 255, 89);
  color: rgb(19, 115, 122);
}

.pokeball-button {
  background-color: red;
  color: black;
}