html,
body {
  margin: 0;
}

.App {
  color: aliceblue;
  /* background-color: #282c34; */
  height: 100vh;
}

/* h1 {
  margin: 0;
  text-align: center;
} */

/* main {
  background-color: blueviolet;
  margin: 25px 100px 0px;
  display: flex;
  justify-content: space-between;
} */

.right-col {
  background-color: brown;
  min-width: 45%;
  max-height: 500px;
}

.background-by-type {
  /* background-color: aquamarine; */
  /* color: darkslategrey; */
  height: 500px;
  width: 500px;
}

.pokemon-image {
  background-color: #A8A77A;
  height: 420px;
  width: 420px;
}

.pokemon-stats {
  background-color: aqua;
  color: rgb(64, 0, 255);
  width: 50%;
  column-count: 2;
}

.pokemon-abilities {
  background-color: rgb(255, 255, 0);
  color: rgb(255, 51, 0);
  width: 50%;
  column-count: 2;
}

.pokemon-attacks {
  background-color: rgb(0, 255, 89);
  color: rgb(19, 115, 122);
  column-count: 4;
}

.pokeball-button {
  background-color: red;
  color: black;
}

/* https://www.epidemicjohto.com/t882-type-colors-hex-colors
Normal Type: A8A77A
Fire Type: EE8130
Water Type: 6390F0
Electric Type: F7D02C
Grass Type: 7AC74C
Ice Type: 96D9D6
Fighting Type: C22E28
Poison Type: A33EA1
Ground Type: E2BF65
Flying Type: A98FF3
Psychic Type: F95587
Bug Type: A6B91A
Rock Type: B6A136
Ghost Type: 735797
Dragon Type: 6F35FC
Dark Type: 705746
Steel Type: B7B7CE
Fairy Type: D685AD */